h1 {
	color: rgba(0,200,100,0.8); 
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 2px solid rgb(255,100,80);
}

/*A border in CSS has 3 parts:
width
color
style*/

h4 {
	background: rgb(255,100,80);
}

body {
	background: pink;
	/*background: url(https://www.babybedding.com/images/fabric/gray-woodgrain-fabric_large.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}