li {
	border: 2px solid red;
}

#special {
	background-color: yellow;
}

.completed {
	text-decoration: line-through;
}

/*The first-of-type pseudo class allows you to select the first siblings of its type.
All styles below target only "List Item 2" and make it bold.*/

/*ul:first-of-type > li:nth-child(2) {
   font-weight: bold;
}
*/

/*p + ul li:last-child {
   font-weight: bold;
}*/


/*ul:first-of-type li:nth-last-child(1) {
   font-weight: bold;   
}*/